@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

/* Apply the cursor-pointer class to the hamburger icon in mobile view on hover */
.md\:hidden > svg:hover {
  @apply cursor-pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #EC407A;
    /* Replace with your desired color value */

    font-weight: bold;
    /* Apply font weight only to textarea placeholders */
}

input {
    font-weight: bold;
    color: #333333;
}

